<div class="container">
    <button mat-stroked-button (click)="onFooterButtonClick()"><span>Scroll to top</span></button>
    <div style="display: flex; flex-direction: column; align-items: center; gap: 1em;">
        <span style="font-size: 20px;">Developed by <b>Rajat Joshi</b></span>
        <span>{{email}}</span>
    </div>
    <span style="display: flex;">
        <!-- <a href="">
          <img class="small-icons" src="./../../../assets/png/github-icon.png" alt="github-icon">
        </a> -->
        <a href="https://www.linkedin.com/in/rajat-joshi-b00b52177/">
          <img class="small-icons" src="./../../../assets/png/linkedin-icon.png" alt="linkedin-icon">
        </a>
        <a href="https://rajat-joshi-cv.s3.ap-south-1.amazonaws.com/RajatJoshiResume.pdf" rel="noopener noreferrer" target="_blank">
          <img class="small-icons" src="./../../../assets/png/resume-icon.png" alt="resume-icon">
        </a>
      </span>
</div>

