<div class="profile-section">
  <div class="info-container">
    <div class="info">
      <div class="image-align">
            <img style="width: 78px;" src="../../../../assets/png/ONGC_Logo.svg.png" alt="logo">
      </div>        
      <div class="letter-spacing" style="font-size: 1rem; line-height: 3; color: #64748B; font-weight: 600;line-height: 4;">
          Summer Intern
      </div>
      <div class="letter-spacing" style="line-height: 1.5;">
         <li>Designed a networking application that finds info on connected devices on the internet</li>
      </div>
    </div>
  </div>
  </div>