<div class="profile-section">
  <div class="info-container">
    <div class="info">
      <div class="image-align">
            <img  src="../../../../assets/png/images.png" alt="logo">
            <img  src="../../../../assets/png/logo-google.png" alt="logo">
      </div>        
      <div class="title-1">
          Angular Developer, Cloud Demo Platform
      </div>
      <div class="description">
         <li>Designed and developed new products for Argolis internal cloud platform</li>
         <li>Maintained and developed for google demos</li>
      </div>
    </div>
  </div>
  </div>