<div class="profile-section">
    <div class="info">
      <div class="image-align">
            <img style="width: 78px;" src="../../../../assets/png/images.png" alt="logo">
            <img style="width: 200px;" src="../../../../assets/png/logo-google.png" alt="logo">
      </div>        
      <div class="letter-spacing" style="font-size: 1rem; line-height: 3; color: #64748B; font-weight: 600;line-height: 4;">
          Angular Developer, Cloud Demo Platform
      </div>
      <div class="letter-spacing" style="line-height: 1.5;">
         <li>Designed and developed new products for Argolis internal cloud platform</li>
         <li>Maintained and developed for google demos</li>
      </div>
    </div>
  </div>