<div class="profile-section">
  <div class="info-container">
    <div class="info">
      <div class="image-align">
            <img style="width: 78px;" src="../../../../assets/png/images.png" alt="logo">
            <img style="width: 200px;" src="../../../../assets/png/Odigo-1200px-logo.png" alt="logo">
      </div>        
      <div class="title-1">
        Senior Software Engineer

      </div>
      <div class="description">
        <li>Engineered application development for Odigo, a contact center as a service provider</li>
      </div>
    </div>
  </div>
  </div>