<div class="profile-section">
    <div class="info">
      <div class="image-align">
            <img style="width: 78px;" src="../../../../assets/png/images.png" alt="logo">
            <img style="width: 200px;" src="../../../../assets/png/Odigo-1200px-logo.png" alt="logo">
      </div>        
      <div class="letter-spacing" style="font-size: 1rem; line-height: 3; color: #64748B; font-weight: 600;line-height: 4;">
          Senior Software Engineer
      </div>
      <div class="letter-spacing" style="line-height: 1.5;">
         <li>Engineered application development for Odigo, a contact center as a service provider</li>
      </div>
    </div>
  </div>