
  <div class="bio">
    <div class="profile-section">
      <div class="info">
        <div>
            <span class="title-1">About me</span>
        </div>        
        <div class="title-2">
            B.Tech in Computer Science from College of Technology, G.B.P.U.A&T, Pantnagar
        </div>
        <div class="description">
            I’m a vibrant, ambitious, and growth-driven tech-junkie. I enjoy solving problems and building things.
            <br>Over several years of profession, student involvement, and personal endeavors, I have designed useful software and  and worked collaboratively to drive team success.
        </div>
      </div>
      <div class="image-container">
        <img src="../../../assets/dp/1707243063387.jpeg" alt="">
      </div>
    </div>
  </div>
  <div>
    <img src="./../assets/svg/bottom-border.svg" alt="border separation between header and bio">
  </div>